@import 'tailwindcss';

:root {
  /* Color variables */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  --orange-gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

  font-family: Inconsolata, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility bg-glass {
  @apply bg-[var(--neutral-700)]/25 backdrop-blur-xs hover:bg-[var(--neutral-700)]/30;
}

@utility focus-outline {
  @apply focus:outline focus:outline-offset-4 focus:outline-[var(--neutral-0)] focus-visible:outline focus-visible:outline-offset-4 focus-visible:outline-[var(--neutral-0)];
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background-image: url('/src/assets/images/background-mobile.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  @apply text-2xl font-bold text-[var(--neutral-0)] sm:text-4xl lg:text-5xl;
}

label {
  @apply block font-semibold text-[var(--neutral-0)];
}

@media (min-width: 640px) {
  body {
    background-image: url('./src/assets/images/background-tablet.png');
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url('./src/assets/images/background-desktop.png');
  }
}
